:root {
  --Primary: #5e66ff;
  --Sub: #efefff;
  --Warning: #ff5455;

  --White: #fff;
  --Gray1: #f6f7fb;
  --Gray2: #e5e7ea;
  --Gray3: #d6d9dd;
  --Gray4: #c0c3c8;
  --Gray5: #9a9ea5;
  --Gray6: #7a7f87;
  --Gray7: #565a61;
  --Gray8: #2f3237;
  --Gray9: #1f2125;

  --BG1: #fff;
  --BG2: #f5f6f8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Pretendard";
  transition: all 0.3s ease;
}
